// *{
//     padding: 0px;
//     margin: 0px;
//     box-sizing: border-box;
// }

.navbar{
    nav{
        ul{
            display: flex;
            justify-content: space-between;
          
            li{
              list-style: none;
              a{
                text-decoration: none;
              }
            }
            .ul2{
                display: flex;
                gap: 20px;
                li{
                    list-style: none;
                }
            }
        }
    }
  
}

#section1{
    .container{
        display: flex;
        justify-content: center;     
        .text1{
            width: 50%; 
            display: flex;
            flex-direction: column;
            align-self:center;
            align-items:flex-start;
            h1{
                color: black;
                font-size: 30px;
                text-align: left;
                font-family: Averta PE,sans-serif;
                font-weight: 100;
                width: 65%;
             
            }
            p{
                text-align: left;
                color: black;
                font-size: 15px;
                width: 71%;
                padding: 0px 10px 25px 0px;
      
            }
            .button{
                background-color: rgb(3, 216, 131);
                color: #fff;
                border: 1px solid rgba(255, 255, 255, 0.537);
                padding: 10px 10px 10px 10px;
                border-radius: 10%;
            }
         
        }

        .foto1{
            display: flex;
            img{
                width: auto;
            }
        }

    
    }
}
