.navbar nav ul {
  display: flex;
  justify-content: space-between;
}
.navbar nav ul li {
  list-style: none;
}
.navbar nav ul li a {
  text-decoration: none;
}
.navbar nav ul .ul2 {
  display: flex;
  gap: 20px;
}
.navbar nav ul .ul2 li {
  list-style: none;
}

#section1 .container {
  display: flex;
  justify-content: center;
}
#section1 .container .text1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}
#section1 .container .text1 h1 {
  color: black;
  font-size: 30px;
  text-align: left;
  font-family: Averta PE, sans-serif;
  font-weight: 100;
  width: 65%;
}
#section1 .container .text1 p {
  text-align: left;
  color: black;
  font-size: 15px;
  width: 71%;
  padding: 0px 10px 25px 0px;
}
#section1 .container .text1 .button {
  background-color: rgb(3, 216, 131);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.537);
  padding: 10px 10px 10px 10px;
  border-radius: 10%;
}
#section1 .container .foto1 {
  display: flex;
}
#section1 .container .foto1 img {
  width: auto;
}