body{
    padding: 20px 40px;
    background: linear-gradient(to left, #ffffff 50%, #cd4d23 50%);
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 80px;
        }
        nav{
            display: flex;
            align-items: center;
            a{
                margin-left: 10px;
                font-size: 20px;
                font-weight: 700;
                color: rgb(85, 85, 85);
            }
            .btn{
                padding: 10px;
                background-color:rgb(85, 85, 85) ;
                color: white;
                border-radius: 20px;
            }
        }
    }
    main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            color: #ffffff;
            padding: 20px 0px;
        }
        img{
            transition: 0.4s;

        }
        img:hover{
            cursor: pointer;
            transform: scale(0.2) rotate(360deg);
            transition: 0.4s;
        }
        .box{
            text-align: center;
        }
        button{
            padding: 20px;
            background-color: #cd4d23;
            border: 1px solid white;
            color: white;
            border-radius: 40px;
        }
        .circle{
            margin: auto;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            background-color: #cd4d23;
        }
    }

}
